<div class="flex flex-col p-10 prose prose-xl">
    <div>
        <h1>Welcome to Tauri + Angular!</h1>
    </div>

    <div class="flex-wrap">
        <form class="row" (submit)="greet($event, greetInput.value)">
            <input #greetInput id="greet-input" placeholder="Enter a name..."/>
            <button type="submit">Greet</button>
        </form>
        <p>{{ greetingMessage }}</p>

    </div>

    <div class="flex-wrap">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Your bio</legend>
            <textarea class="textarea h-50 w-50" placeholder="Bio"></textarea>
            <div class="label">Optional</div>
        </fieldset>
    </div>


    <div class="flex-wrap">
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <textarea formControlName="reason" placeholder="Enter reason" rows="4" cols="50"></textarea>
            <button type="submit" class="btn w-64 rounded-full">Обработать</button>
        </form>
    </div>

    <div class="flex-wrap">
        <div class="grid grid-cols-4 gap-4">
            <h3>Список картинок</h3>
            <div>
                @for (url of imageUrls; track url) {
                    <img [src]="url" alt="" class="thumbnail" loading="lazy"
                         (error)="$any($event.target).style.display='none'"/>
                }
            </div>
        </div>
    </div>


</div>
