<div class="w-screen h-screen p-10 prose prose-xl bg-accent-content/10">
    <h1>Welcome to Tauri + Angular {{ angularVersion }}!</h1>
    <p>И ведь понимает, понимает же всё! Понимает, что поддельные духи — вонючая бурда, а не парфюмерия. Понимает, что
        Квасин и Касимцева — люди дела, а он — вечный нытик в «задрипанной химчистке».</p>

    <!--    <div>-->
    <!--        <form class="row" (submit)="greet($event, greetInput.value)">-->
    <!--            <input #greetInput id="greet-input" placeholder="Enter a name..." class="input"/>-->
    <!--            <button type="submit" class="btn">Greet</button>-->
    <!--        </form>-->
    <!--        <p>{{ greetingMessage }}</p>-->

    <!--    </div>-->

    <!--    <div class="divider">OR</div>-->

    <!--    <form>-->

    <div class="flex flex-row">
        <div class="basis-64">01</div>
        <div class="basis-64">02</div>
        <div class="basis-128">03</div>
    </div>
    
    <form (submit)="processJson($event, jsonInput.value)">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Список&nbsp;заявок&nbsp;на&nbsp;логотипы</legend>
            <textarea #jsonInput id="json-input"
                      placeholder="Введите JSON список заявок на логотипы"
                      class="textarea w-full" rows="5"></textarea>
            <div class="label">{{ greetingMessage }}</div>
        </fieldset>
        <button type="submit" class="btn w-64 rounded-full">Обработать заявки</button>
    </form>
    <button type="button" class="btn w-64 rounded-full" (click)="greet()">Greet</button>

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th>id</th>
                <th>Job</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
                @for (job of logos; track job.id) {
                    <tr>
                        <th>{{ job.id }}</th>
                        <td>{{ job.url }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <div class="grid grid-cols-4 gap-4">
            <h3>Список картинок</h3>
            <div>
                @for (imageUrl of imageUrls; track imageUrl) {
                    <img [src]="imageUrl" alt="" class="thumbnail" loading="lazy"
                         (error)="$any($event.target).style.display='none'"/>
                }
            </div>
        </div>
    </div>

</div>
